@charset "UTF-8";

body{
	background-color: white;
	vertical-align: baseline;
}

/*****************************************/
/* Topic
/*****************************************/
#bog_topic_box {
	height: 350px;
	width: 1200px;
	background: #4ca4b4;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#big_topic_left {
	width: 50%;
	height: 100%;
	background: #dee7eb;
	float: left;
}

#big_topic_left .topic_graph {
	margin: 0 auto;
	margin-top: 15px;
}

#big_topic_left .doughnut_data_p {
	top: 65px;
}

#big_topic_left .topic_value {
	width: 60%;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
}

.topic_value_left, .topic_value_right {
	width: 50%;
	height: 100%;
	font-size: 12px;
	float: left;
}

.big_topic_span {
	font-size: 25px;
}

#big_topic_right {
	width: 50%;
	height: 100%;
	background: rgb(60, 123, 168);
	float: left;
}

#big_topic_right .top {
	width: 470px;
	height: 160px;
	padding: 10px 30px;
	font-size: 14px;
  	font-weight: bold;
  	color: #fff;
  	text-align: left;
	margin: 0 auto;
	margin-top: 50px;
}

#big_topic_right .bottom {
	width: 540px;
	height: auto;
	padding: 10px 30px;
	color: #fff;
}

#big_topic_right .user_comment {
	color: #fff;
}

#topic_box_wrap {
	width: 1200px;
	margin: 0 auto;
}

.topic_box {
	width: 380px;
	height: 530px;
	float: left;
	background: #dee7eb;
	margin-bottom: 30px;
}

.topic_center {
	margin: 0 30px;
}

.topic_user {
	width: 380px;
	height: 70px;
	font-weight: bold;
	text-align: left;
	letter-spacing: 1.5px;
}

.user_pic {
	height: 70px;
	width: 70px;
	background: #fff;
	margin-left: 25px;
	float: left;
	border-radius: 50%;
}

.user_pic img {
	height: 60px;
	width: 60px;
	margin: 5px 5px;
	background: #aaa;
	border-radius: 50%;
}

.user_info {
	height: 50px;
	width: 255px;
	float: left;
	margin: 10px 10px;
}

.user_comment {
	font-size: 10px;
	color: #555;
	line-height: 14px;
}

.topic_title {
	width: 340px;
	height: 55px;
	background: #3c7ba8;
	margin-bottom: 10px;
	padding: 25px 20px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-align: left;
	letter-spacing: 1.5px;
}

.topic_body {
	width: 380px;
	height: 335px;
	margin-top: 10px;
}

.topic_graph {
	width: 380px;
	height: 280px;
}

.doughnut_data {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	background: #3c7ba8;
	margin: 0 auto;
	position: relative;
	top: -250px;
	color: #fff;
	font-weight: bold;
}

.doughnut_data_p {
	width: 180px;
	height: 80px;
	margin: 0 auto;
	position: relative;
	top: 55px;
	font-size: 50px;
	line-height: 90px;
}

.doughnut_data_d {
	width: 180px;
	height: 30px;
	margin: 0 auto;
	position: relative;
	top: 55px;
	font-size: 11px;
}

.topic_value {
	width: 380px;
	height: 55px;
	color: #494949;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
}

.topic_value_text {
	font-size: 12px;
	position: relative;
	top: -3px;
}
