@charset "UTF-8";

#footer{
	width: 1300px;
	height: 300px;
	margin-top: 20px;
	background-color: #EEEEEE;
}

ul{
	padding-top: 10px;
}

a{
	font-size: 20px;
	color: #BBBBBB;
	text-decoration: none;
}
#l_title{
	color: #BBBBBB;
}

#l_footer{
	width: 800px;
	height: 250px;
	float: left;
}

#l_column{
	width: 400px;
	height: 250px;
	float: left;
}

#r_colmun{
	width: 400px;
	height: 250px;
	float: left;
}

#l_title{
	padding-top: 5px;
	font-size: 30px;
}

#r_title{
	color: #fcc800;
	padding-top: 5px;
	font-size: 30px;
}

#l_uka{
	width: 400px;
	height: 20px;
	color: gray;
	text-align: left;
	margin-top: 2px;
}

#footer_li{
	margin-top:15px;
}

#footer_li_r{
	width:300px;
	height:25px;
	background-color: #fff352;
	margin: 0 auto;
	margin-top: 20px;
	text-align: left;
}

#r_menu{
	width: 300px;
	height: 20px;
	text-align: left;
	background-color: yellow;
	margin: 15px auto;
	clear: both;
}





#r_footer{
     float: left;
     position: relative;
     top: -20px;
     padding: 10px 10px;
     border-radius:1px;
     border:1px solid #666;
     margin: 10px 0px;
     width: 470px;
     height:280px;
     background: #fff;
     box-shadow: 0 10px 6px -6px #777777;
     background-color: #fff799;
}