.top_project_search {height: 285px; text-align: center;}
.top_project_search .top {
    height: 80px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(38, 88, 135);
    line-height: 2em;
}
.top_project_search .middle {height: 100px;}
.top_project_search .bottom {height: 105px;}
.top_project_search .bottom button {
    margin: 0 5px;
    border: 1px solid rgb(38, 88, 135);
    padding: 10px 15px;
    color: #555;
    font-size: 12px;
    font-weight: bold;
}
#inputSerachWord{width: 300px;font-size: 12px;}
#inputSerachBtn{width: 60px; height: 34px;font-size: 12px;}
