.class
.jar
.project
.classpath
.settings

target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.metadata/*
Servers/
.recommenders/*
UKA.system/.checkstyle
UKA.system/src/main/webapp/resources/var/1435644588995kiku.jpg
