.class
.jar
.project
.classpath
.settings

target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.metadata/*
Servers/
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/resolver-status.properties
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_a.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_a.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_a.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_a.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_a.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_a.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_a.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_a.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_b
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/write.lock
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/_remote.repositories
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/jre-1.0.0-20140604.182326-1-call.zip
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip
UKA.system/.checkstyle
UKA.system/src/main/webapp/resources/var/1435644588995kiku.jpg
