.class
.jar
.project
.classpath
.settings

target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.resources/.history/0/3016b72c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/10/500a27083505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/14/f0a89a893805001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/17/202bad2c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/20/50ac6c753505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/20/f0e11ca43505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/21/a07326523705001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/2f/207eb42c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/37/50a5160a3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/37/60c7ad2c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/37/a0efcf633705001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/38/40ef180a3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/3a/209a2e0a3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/3d/7054637d3705001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/42/d03d173a3705001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/43/a0f7140a3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/5/107a180a3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/5/808b190a3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/5/c01b28083505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/56/40a6a8a13805001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/57/10e4300a3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/5e/a0f0fd493605001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/66/50f804883905001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/69/00a6916e3605001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/69/d0cf61763705001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/70/c0e6ba2c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/72/60ed89953805001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/72/c0fc2c443605001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/74/60247f7d3805001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/7a/d06c150a3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/7c/d0e4010a3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/81/4079ad2c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/89/80ccee623905001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/8a/a074850f3805001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/8c/b07017203905001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/99/a075ed093905001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/a0/a0ec171e3805001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/a5/f0395c8c3805001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/b6/9003d3113705001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/b8/e0e1b32c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/ba/0021e5703805001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/ba/d049b12c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/bc/70d226dd3605001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/c1/c0ea15723605001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/c1/d0a877753505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/c8/100bca563705001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/ca/10f1556b3805001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/d9/004726083505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/d9/7041b52c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/de/b08f170a3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/e5/508700c43605001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/f2/9074b3703605001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/f8/70b2b72c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/fa/a0b6b52c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/fc/f079b62c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.history/fe/f0ccbd2c3505001514e6e1aef1656e26
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/b3/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/UKA.system/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/UKA.system/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/UKA.system/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/UKA.system/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/UKA.system/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/UKA.system/.indexes/e4/b9/22/93/66/29/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/UKA.system/.indexes/e4/b9/22/93/66/45/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/UKA.system/.indexes/e4/b9/b3/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/UKA.system/.indexes/e4/b9/b3/a8/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/UKA.system/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.debug.core/.launches/servlet_hal.tokyo.servlet.RootServlet.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Tomcat v7.0 Server at localhost.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1290336947.index
.metadata/.plugins/org.eclipse.jdt.core/1384487945.index
.metadata/.plugins/org.eclipse.jdt.core/1496380476.index
.metadata/.plugins/org.eclipse.jdt.core/156905802.index
.metadata/.plugins/org.eclipse.jdt.core/177835100.index
.metadata/.plugins/org.eclipse.jdt.core/1799156809.index
.metadata/.plugins/org.eclipse.jdt.core/1819685514.index
.metadata/.plugins/org.eclipse.jdt.core/1833648217.index
.metadata/.plugins/org.eclipse.jdt.core/2044768101.index
.metadata/.plugins/org.eclipse.jdt.core/2133011121.index
.metadata/.plugins/org.eclipse.jdt.core/2318875494.index
.metadata/.plugins/org.eclipse.jdt.core/2427352903.index
.metadata/.plugins/org.eclipse.jdt.core/252863676.index
.metadata/.plugins/org.eclipse.jdt.core/2545238116.index
.metadata/.plugins/org.eclipse.jdt.core/2931467479.index
.metadata/.plugins/org.eclipse.jdt.core/3161353398.index
.metadata/.plugins/org.eclipse.jdt.core/3266567714.index
.metadata/.plugins/org.eclipse.jdt.core/3302703152.index
.metadata/.plugins/org.eclipse.jdt.core/3321539481.index
.metadata/.plugins/org.eclipse.jdt.core/332439546.index
.metadata/.plugins/org.eclipse.jdt.core/3449433182.index
.metadata/.plugins/org.eclipse.jdt.core/3697685622.index
.metadata/.plugins/org.eclipse.jdt.core/3712507179.index
.metadata/.plugins/org.eclipse.jdt.core/448474254.index
.metadata/.plugins/org.eclipse.jdt.core/750223094.index
.metadata/.plugins/org.eclipse.jdt.core/86852845.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/participantsIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jst.j2ee/earLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/1765388197.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/2925949713.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/3209688161.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/969983977.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/5/22/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/5/22/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/UKA.system/2015/5/22/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/UKA.system/2015/5/22/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/UKA.system.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1_2.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_6.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_7.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_7_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_8.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_a
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/a2c409f204b18e63f41e95b930efc4fd/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a2c409f204b18e63f41e95b930efc4fd/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/a2c409f204b18e63f41e95b930efc4fd/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/a2c409f204b18e63f41e95b930efc4fd/write.lock
.metadata/.plugins/org.eclipse.m2e.jdt/UKA.system.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.shohes-macbook-air_1156/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.shohes-macbook-air_1156/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.shohes-macbook-air_1156/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1507125137.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2133011121.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2425908077.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2834225306.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/484298830.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/722488137.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/1765388197.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/3209688161.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/969983977.index
.metadata/.plugins/org.eclipse.wst.server.core/publish.xml
.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp-data.xml
.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.policy
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.properties
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/context.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/server.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/tomcat-users.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/logs/localhost_access_log.2015-05-28.txt
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/UKA.system/org/apache/jsp/index_jsp.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/UKA.system/org/apache/jsp/index_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/UKA.system/org/apache/jsp/JSP/index_jsp.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/UKA.system/org/apache/jsp/JSP/index_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/UKA.system/org/apache/jsp/JSP/list_jsp.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/UKA.system/org/apache/jsp/JSP/list_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/UKA.system/JSP/index.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/UKA.system/JSP/list.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/UKA.system/META-INF/MANIFEST.MF
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/UKA.system/META-INF/maven/hal.tokyo/UKA.system/pom.properties
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/UKA.system/META-INF/maven/hal.tokyo/UKA.system/pom.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/UKA.system/WEB-INF/classes/hal/tokyo/model/Access.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/UKA.system/WEB-INF/classes/hal/tokyo/model/URLCORE.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/UKA.system/WEB-INF/classes/hal/tokyo/servlet/RootServlet.class
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
Servers/Tomcat v7.0 Server at localhost-config/catalina.policy
Servers/Tomcat v7.0 Server at localhost-config/catalina.properties
Servers/Tomcat v7.0 Server at localhost-config/context.xml
Servers/Tomcat v7.0 Server at localhost-config/server.xml
Servers/Tomcat v7.0 Server at localhost-config/tomcat-users.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/UKA.system/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/UKA.system/org.eclipse.wst.jsdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/2133011121.dat
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.server.core/monitors.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/UKA.system/SESSIONS.ser
.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
