<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<meta http-equiv="Content-Style-Type"content="text/css" />
	<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../css/common.css" />
	<link rel="stylesheet" type="text/css" href="../css/footer.css" />
<title>footer</title>
</head>

<body>
<div id="footer">
	<div id="l_footer">
		<div id="l_column">
			<p id="l_title">
				プロジェクトを始める
			</p>
			<ul>
				<li><a href="">プロジェクトを始める</a></li>
				<li><a href="">プロジェクトの作り方</a></li>
			</ul>
		</div>

		<div id="r_column">
			<p id="l_title">
				プロジェクトを探す
			</p>
			<ul>
				<li><a href="">評価が高いプロジェクト</a></li>
				<li><a href="">カテゴリ　その1</a></li>
				<li><a href="">カテゴリ　その2</a></li>
				<li><a href="">カテゴリ　その3</a></li>
			</ul>
		</div>
	</div>

	<div id="r_footer">
		<p id="r_title">
			UKA.について
		</p>
		<ul>
			<li><a href="" id="l_uka">UKA.とは？</a></li>
			<li><a href="" id="l_uka">サイトマップ</a></li>
			<li><a href="" id="l_uka">管理人にメールする</a></li>
			<li><a href="" id="l_uka">よくある質問</a></li>
			<li><a href="" id="l_uka">開発チームについて</a></li>
		</ul>
		<p>
			Copylight
		</p>
	</div>
</div>

</body>
</html>