<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<meta http-equiv="Content-Style-Type"content="text/css" />
	<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../css/common.css" />
	<link rel="stylesheet" type="text/css" href="../css/index.css" />
<title>UKA.TOP</title>
</head>

<body>

<div id="topic">
	<div id="l_topic">
		<img src="">
		<p>
			残り期間：??日　??人が評価しています。
		</p>
	</div>

	<div id="r_topic">
		<p>
			新規プロジェクトのタイトルをここに書く。
			テキストてきすとテキストてきすとテキストてきすとテキストてきすとテキストてきすと
		</p>

		<div id="topic_inventor">
			<img src="">
			<p>
				社員名：部署名
			</p>
			<p>
				一言。
			</p>
		</div>
	</div>
</div>

<div id="project">
	<div id="project_box">
		<div id="project_title">
			<h3>プロジェクトタイトル</h3>
		</div>

		<div id="project_content">
			<div id="inventor">
				<img src="">
				
				<p>
					社員名：部署名
				</p>
				<p>
					一言。
				</p>
			</div>

			<img src="">

			<p>
				??人が評価しています。
			</p>
		</div>
	</div>

	<div id="project_box">
		<div id="project_title">
			<h3>プロジェクトタイトル</h3>
		</div>

		<div id="project_content">
			<div id="inventor">
				<img src="">
				
				<p>
					社員名：部署名
				</p>
				<p>
					一言。
				</p>
			</div>

			<img src="">

			<p>
				??人が評価しています。
			</p>
		</div>
	</div>

	<div id="project_box">
		<div id="project_title">
			<h3>プロジェクトタイトル</h3>
		</div>

		<div id="project_content">
			<div id="inventor">
				<img src="">
				
				<p>
					社員名：部署名
				</p>
				<p>
					一言。
				</p>
			</div>

			<img src="">

			<p>
				??人が評価しています。
			</p>
		</div>
	</div>
</div>
</body>
</html>