<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<meta http-equiv="Content-Style-Type"content="text/css" />
	<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../css/common.css" />
	<link rel="stylesheet" type="text/css" href="../css/project_detail.css" />
<title>UKA.project_detail</title>
</head>

<body>
<div id="project">
	<div id="l_column">
		<h1 id="project_title">プロジェクトタイトル</h1>
		<h3 id="project_category">カテゴリ</h3>
		<h3 id="posting_date">2015/05/18 13:22:22</h3>
		<p id="project_content">
			Content
		</p>
		<div id="project_img">

		</div>
	</div>
	<div id="r_column">
		<div id="project_box">
			<div id="inventor">
				<img src="" />

				<p>
					社員名：部署名
				</p>
				<p>
					一言。
				</p>
			</div>

			<img src="" />

			<p>
				??人が評価しています。
			</p>
			<a href="" >気になる！</a>
		</div>
	</div>
</div>

<div id="comment_box">
	<div id="project_value">
		<img src="" />

		<p>
			投稿者名　2015/05/05 13:10
		</p>
		<p>
			Content
		</p>
	</div>

	<div id="comment">
		<form action="" method="post">
			<textarea id="comment_content" placeholder="ここにコメントを入力してください。" ></textarea>
			<input class="comment_submit" type="submit" value="コメントする" />
		</form>
	</div>
</div>
</body>
</html>