<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<meta http-equiv="Content-Style-Type"content="text/css" />
	<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../css/common.css" />
	<link rel="stylesheet" type="text/css" href="../css/index.css" />
	<link rel="stylesheet" type="text/css" href="../css/search.css" />
<title>UKA.search</title>
</head>

<body>

<div id="project_search">
	<div id="search">
		<h1>プロジェクトを探す。</h1>
		<form action="" method="post">
			<input type="text" class="search_input" placeholder="検索する言葉を入力してください。" >
			<input type="submit" class="search_submit" value="検索">
		</form>
	</div>

	<div id="search_footer">
		<p>
			<a href="">新着順</a>
			<a href="">人気順</a>
			<a href="">締切期限が近い順</a>
			<a href="">評価が高い順</a>
			<a href="">評価が低い順</a>
		</p>
		<p>
			<a href="">カテゴリ1</a>
			<a href="">カテゴリ２</a>
			<a href="">カテゴリ３</a>
			<a href="">カテゴリ４</a>
		</p>
	</div>
</div>

<div id="project">
	<div id="project_box">
		<div id="project_title">
			<h3>プロジェクトタイトル</h3>
		</div>

		<div id="project_content">
			<div id="inventor">
				<img src="">

				<p>
					社員名：部署名
				</p>
				<p>
					一言。
				</p>
			</div>

			<img src="">

			<p>
				??人が評価しています。
			</p>
		</div>
	</div>

	<div id="project_box">
		<div id="project_title">
			<h3>プロジェクトタイトル</h3>
		</div>

		<div id="project_content">
			<div id="inventor">
				<img src="">

				<p>
					社員名：部署名
				</p>
				<p>
					一言。
				</p>
			</div>

			<img src="">

			<p>
				??人が評価しています。
			</p>
		</div>
	</div>

	<div id="project_box">
		<div id="project_title">
			<h3>プロジェクトタイトル</h3>
		</div>

		<div id="project_content">
			<div id="inventor">
				<img src="">

				<p>
					社員名：部署名
				</p>
				<p>
					一言。
				</p>
			</div>

			<img src="">

			<p>
				??人が評価しています。
			</p>
		</div>
	</div>
</div>
</body>
</html>